{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "rules": {
    "no-console": "error",
    "no-process-exit": "off",
    "no-var": "error",
    "node/no-unsupported-features/es-syntax": "off"
  }
}
